<h1> Application Information </h1>

<p><%= @application.name %></p>
<p><%= @application.address %></p>
<p><%= @application.description %></p>
<p><%= link_to "#{@application.pet_list}", "/pets/#{@pet.id}" %></p>
<p><%= @application.status %></p>