<h1> Application Information </h1>

<p><%= @application.name %></p>
<p><%= @application.address %></p>
<p><%= @application.description %></p>
<p><%= @application.pets.each do |pet| %>
  <%=link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
<p><%= @application.status %></p>